%input#type{type: "hidden", value: "#{@type}"}
%input#event_ids{type: "hidden", value: "#{@event_ids}"}
%input#blog_ids{type: "hidden", value: "#{@blog_ids}"}
%input#pic_ids{type: "hidden", value: "#{@pic_ids}"}
%input#video_ids{type: "hidden", value: "#{@video_ids}"}
.logo{ style: "position: absolute"}
.slideshow  
  .slides    
    %img.kung-fu{:desc => "So it appears we're not invited", :headline => "Racism in Kung Fu", :src => asset_path("kung_fu_saloon.jpg")}/
    %img{:desc => "Ten Events You Cannot Miss", :headline => "Austin Fashion Weeks", :src => asset_path("slideshow.jpg") }/
    %img.perlas{:desc => "From Franklins to Biscuits and Groovy", :headline => "Top Ten Places to Eat", :src => asset_path("perlas.jpg")}/
    %img.fashion{:desc => "An exclusive list of Austin Trendsetters", :headline => "Best dressed in Austin", :src => asset_path("fashion.jpg")}/
  .navigation
    %i.dot.fa.fa-circle-o
  .div
    %a.fa.fa-long-arrow-left.slides-previous
    %a.fa.fa-long-arrow-right.slides-next
  .caption    
    .caption-text
      %span ADD EVENT
      %span SIGN UP
      %span LOG IN
    .caption-icons
      .circle.event-green
        / %img.event-cirlce{:src => asset_path("event.png")}
      .circle.pic-white
      .circle.video-white
      .circle.blog-white
    %span.headline
    %span.description
    .caption-learn
      .learn-more LEARN MORE
    .slider1-arrow-up
      %i.fa.fa-caret-up
    .slider2-arrow-up
      %i.fa.fa-caret-up
    .slider3-arrow-up
      %i.fa.fa-caret-up
    .slider4-arrow-up
      %i.fa.fa-caret-up
  .slider-footer
    .slider-date1.slider-date 
      FRIDAY SEP. 19      
    .slider-date2.slider-date 
      SATURDAY SEP. 20
    .slider-date3.slider-date 
      THURSDAY SEP. 26
    .slider-date4.slider-date 
      FRIDAY SEP. 27
.templates
  .content-box.event-add-post
    .event-logo
      %img.event-image{:src => asset_path("event.png")}
    .event-post
      .event-text POST YOUR EVENT FOR FREE
    .event-learn-more
      .post-learn-more LEARN HOW
  .content-box.picture-add-post
    .event-logo
      %img.event-image{:src => asset_path("photos.png")}
    .event-post
      .event-text ADD PICTURES
    .event-learn-more
      .post-learn-more LEARN HOW
  .content-box.blog-add-post
    .event-logo
      %img.event-image{:src => asset_path("videos.png")}
    .event-post
      .event-text.blog-text UPLOAD YOUR VIDEO OR BLOG
    .event-learn-more
      .post-learn-more LEARN HOW
  .content-box.ads-template
    %a{:href => "http://www.theaustinsocialite.com", :target => "_blank"}
      %span Ad Space
  .content-box.events-template.no-content
    .image
    .content
      .overlay
        .sponsored
        .date
          %span.dayofweek
          %span.month
        .setting
          %span.type
          %span.title
          %span.id
          %p.description
    .mask
      .orverlay
        .setting
          %span.type 
          %span.title 
        .center.date
          %p
            %span.dayofweek
            %span.month
          .sponsored
        .button-container
          %button ADD TO CALENDAR
          %button.second MORE DETAILS
  .content-box.blogs-template.no-content
    .image
    .content
      .overlay
        .sponsored
        .setting
          %span.type
          %span.title
          %span.id
          %p.description
    .mask
      .orverlay
        .setting
          %span.type 
          %span.title 
        .button-container
          %button ADD TO CALENDAR
          %button.second MORE DETAILS
  .content-box.pictures-template.no-content
    .image
    .content
      .overlay
        .sponsored
        .date
          %span.dayofweek
          %span.month
        .setting
          %span.place
          %span.title
          %span.id
          %p.description
    .mask
      .orverlay
        .setting
          %span.place 
          %span.title 
        .center.date
          %p
            %span.dayofweek
            %span.month
          / .sponsored
        .button-container
          %button ADD TO CALENDAR
          %button.second MORE DETAILS
  .content-box.videos-template.no-content
    .image
    .player
      %video.video{:controls => "controls", :preload => "none"}
    .content
      .overlay
        .sponsored
        .date
          %span.dayofweek
          %span.month
        .setting
          %span.place
          %span.title
          %span.id
          %p.description
.articles
  .header
    .search-fields
      .category.search
        .selected-link
          %span.header-text I want to see:
          %span.currently-selected Events
          .arrow-up
        .menu.this-event
          .caret
            %i.fa.fa-caret-up
          %li.selected Events
          %li Pictures
          %li Blogs
          %li Vlogs
      .date.search
        .selected-link
          %span.header-text I want to go:
          %span.currently-selected This Week
          .arrow-up
        .menu.this-week
          .caret
            %i.fa.fa-caret-up
          .menu-section
            .pick-time
              PICK A TIME
              .time-options
                %form
                  %input{:name => "vehicle", :type => "checkbox", :value => "Today"}/
                  Today
                  %br/
                  %input{:name => "vehicle", :type => "checkbox", :value => "Tomorrow"}/
                  Tomorrow
                  %br/
                  %input{:name => "vehicle", :type => "checkbox", :value => "This Weekend"}/
                  This Weekend
                  %br/
                  %input{:name => "vehicle", :type => "checkbox", :value => "Weekend"}/
                  Weekend
                  %br/
                  %input{:name => "vehicle", :type => "checkbox", :value => "Next Week"}/
                  Next Week
                  %br/
                  %input{:name => "vehicle", :type => "checkbox", :value => "Next 30  Days"}/
                  Next 30  Days

            .select-day
              SELECT DAY OR RANGE
              .range
                %input{type: "text", placeholder: "Search Date"}
                %input{type: "text", placeholder: "End Date"}
                %button FIND
              .calendar
                #calendar
              .buttons
                %button.prev PREV
                %button.next NEXT
              .reset-apply
                %button.reset RESET
                %button.apply APPLY
          / %li{:value => "Today"} Today
          / %li{:value => "Tomorrow"} Tomorrow
          / %li.selected{:value => "This Week"} This Week
          / %li{:value => "This Month"} This Month
          / %li{:value => "Next Three Months"} Next Three Months
      .type.search
        .selected-link
          %span.header-text For only these type:
          %span.currently-selected All Types
          .arrow-up
        .menu.this-type
          .caret
            %i.fa.fa-caret-up
          %li.selected{:value => "All"} All Types
          %li{:value => "Afterparty"} Afterparty
          %li{:value => "Bar/Lounge"} Bar/Lounge
          %li{:value => "Boat Party"} Boat Party
          %li{:value => "Brunch"} Brunch
          %li{:value => "Charity Event"} Charity Event
          %li{:value => "Concert"} Concert
          %li{:value => "Fashion Show"} Fashion Show
          %li{:value => "Meetup"} Meetup
          %li{:value => "Museum"} Museum
      .search-box
        / {style: "float:right; margin-right:74px;"}
        %form.form-inline
          .input-prepend
            %span.add-on
              %i.fa.fa-search
            %input.header-input{type: "text", placeholder: "Search for event", id: "prependedInput"}
          %a.btn.search-btn SEARCH
  / .div
  /   %i.fa.fa-long-arrow-left.slides-previous{ style: "color: red; font-size: 5em"}
  /   %i.fa.fa-long-arrow-right.slides-next{ style: "color: red; font-size: 5em"}
  .section-header
    / .section-name{:name => "events"} Events
    / .section-name{:name => "blogs"} Blogs
    / .section-name{:name => "pictures"} Pictures
    / .section-name{:name => "videos"} Videos
  .section.events.main.top-section{:name => "events"}
    .section-name.event
      .title-place
        .section-title
          %img.section-title-image{:src => asset_path("section-bg.png")}
          .title-event EVENTS   
    .load-more LOAD MORE
  .section.blogs.main{:name => "blogs"}
    .section-name.blog
      .title-place
        .section-title{style: "margin-left: 115px"}
          %img.section-title-image{:src => asset_path("section-bg.png")}
          .title-event BLOGS AND VLOGS
    .load-more LOAD MORE
  .section.pictures.main{:name => "pictures"}
    .section-name.event
      .title-place
        .section-title
          %img.section-title-image{:src => asset_path("section-bg.png")}
          .title-event PICTURES 
    .load-more LOAD MORE
  .section.videos.main{:name => "videos", style: "display: none"}
    .section-name.event
      .title-place
        .section-title
          %img.section-title-image{:src => asset_path("section-bg.png")}
          .title-event VIDEOS 
    .load-more LOAD MORE
  .section.giveaways.main{:name => "videos"}
    .section-name.event
      .title-place
        .section-title{style: "margin-left: 130px"}
          %img.section-title-image{:src => asset_path("title-bg.png")}
          .title-event GIVEAWAYS
    .giveaways-box
      %img.giveaways-image{:src => asset_path("giveaways.jpg")}
      .giveaways-content
        .giveaway-logo
          %img{:src => asset_path("logo.png")}
        .giveaway-text
          Learn how you can cast a ballot and enter to win free tickets and swag
        .giveaway-enter
          .button ENTER NOW

.bookmarks
  .bookmarked-articles
    .section.events{:name => "events"}
      .section-name.event Scroll to see more Events
      .load-more Load More Events
    .section.blogs{:name => "blogs"}
      .section-name.blog Scroll to see more Blogs
      .load-more Load More Blogs
    .section.pictures{:name => "pictures"}
      .section-name.picture Scroll to see more Pictures
      .load-more Load More Picture
    .section.videos#ev{:name => "videos"}
      .section-name.video Scroll to see more Videos
      .load-more Load More Videos
  .main-description
    .close
      %i.fa.fa-times
    .share
      / %a.fb-share{href: "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}"}
      %a.fb-share-btn
        %i.fa.fa-facebook   
      %a.fb-share{:href => "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}&picture=#{request.original_url}/assets/event1.png&title=title+here&description=Your+description", :onclick => "window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;", :target => "_blank", style: "display: none"}   
      %a.twitter-share-btn
        %i.fa.fa-twitter
      %a.twitter-share{:href => "https://twitter.com/intent/tweet?text=dssdsd", :onclick => "window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=300'); return false;", :target => "_blank", style: "display: none"}
      %a{:href => "https://www.instagram.com/theaustinsocialite", :target => "_blank"}
        %i.fa.fa-instagram
      / %a.twitter-share{:href => "https://twitter.com/share?text='dssdsd'", popup: "width=685,height=500", :target => "_blank", style: "display: none"} 
      / .twitter-share{"data-description" => "sdsdadad", "data-type" => "twitter", "data-url" => "lvh.me:3000?type=events12", style: "display: none"}

      / "https://twitter.com/share?url={{url}}&text={{description}}",popup:{width:685,height:500}}

    .desc
      .desc-date
        .desc-day FRIDAY
        .desc-month SEP. 19
        %button ADD TO CALENDAR
      %span.article-type
      %span.article-title
      .details{style: "display: none"} More Info
      %span.article-description
      / .thumbnails
      /   %li
      /     %img{:src => asset_path("event1.png")}/
      %hr
      .think-about 
        Think about going? Well maybe this will convince you...
        .think-about-sub 
          Ok, where is this?
          .where-venue
            .venue-name
              Venue Name:
            .venue
              Frank Erwin Center
          .where-address
            .address-name
              The Address:
            .address
              1701 Red River
          .where-city
            .city-name
              City, State:
            .city
              Austin, TX
        %hr
        .think-about-sub 
          Who should I contact for more questions?
          .contact-info
            .buy-ticket
              Buy Tickets:
            %u.ticket-link Click Here
        %hr
        .think-about-sub 
          Tell me the basics
          .basic-time
            .buy-ticket
              Time of Party:
            .the-time
              8:00PM - 11:00PM
          .basic-type
            .buy-ticket
              Type of Party:
            .the-party
              Comedy
          .basic-cover
            .buy-ticket
              Cover:
            .the-cover
              50
        %hr
        .think-about-sub 
          What should I expect?
          .expect-dancing
            .dance
              Dancing:
            .the-dance
              Limited
          .expect-parking
            .parking
              Parking:
            .parking-type
              Public/Type
        / .content-box.event-add-post
        /   .event-logo
        /     %img.event-image{:src => asset_path("white_event_logo.png")}
        /   .event-post
        /     .event-text POST YOUR EVENT FOR FREE
        /   .event-learn-more
        /     .post-learn-more LEARN HOW




