%input#type{type: "hidden", value: "#{@type}"}
%input#event_ids{type: "hidden", value: "#{@event_ids}"}
%input#blog_ids{type: "hidden", value: "#{@blog_ids}"}
%input#pic_ids{type: "hidden", value: "#{@pic_ids}"}
%input#video_ids{type: "hidden", value: "#{@video_ids}"}
.logo{ style: "position: absolute"}
.slideshow  
  .slides    
    %img.kung-fu{:desc => "So it appears we're not invited", :headline => "Racism in Kung Fu", :src => asset_path("kung_fu_saloon.jpg")}/
    %img{:desc => "Ten Events You Cannot Miss", :headline => "Austin Fashion Weeks", :src => asset_path("slideshow.jpg") }/
    %img.perlas{:desc => "From Franklins to Biscuits and Groovy", :headline => "Top Ten Places to Eat", :src => asset_path("perlas.jpg")}/
    %img.fashion{:desc => "An exclusive list of Austin Trendsetters", :headline => "Best dressed in Austin", :src => asset_path("fashion.jpg")}/
  .navigation
    %i.dot.fa.fa-circle-o
  .div
    %a.fa.fa-long-arrow-left.slides-previous
    %a.fa.fa-long-arrow-right.slides-next
  .caption    
    .caption-text
      %span ADD EVENT
      %span SIGN UP
      %span LOG IN
    .caption-icons
      %a.circle.green
      %a.circle
      %a.circle
      %a.circle
    %span.headline
    %span.description
    .caption-learn
      .learn-more LEARN MORE
  .slider-footer
    .slider-date1.slider-date FRIDAY SEP. 19
    .slider-date2.slider-date SATURDAY SEP. 20
    .slider-date3.slider-date THURSDAY SEP. 26
    .slider-date4.slider-date FRIDAY SEP. 27
.templates
  .content-box.ads-template
    %a{:href => "http://www.theaustinsocialite.com", :target => "_blank"}
      %span Ad Space
  .content-box.events-template.no-content
    .image
    .content
      .overlay
        .sponsored
        .date
          %span.dayofweek
          %span.month
        .setting
          %span.type
          %span.title
          %span.id
          %p.description
  .content-box.blogs-template.no-content
    .image
    .content
      .overlay
        .sponsored
        .setting
          %span.type
          %span.title
          %span.id
          %p.description
  .content-box.pictures-template.no-content
    .image
    .content
      .overlay
        .sponsored
        .date
          %span.dayofweek
          %span.month
        .setting
          %span.place
          %span.title
          %span.id
          %p.description
  .content-box.videos-template.no-content
    .image
    .player
      %video.video{:controls => "controls", :preload => "none"}
    .content
      .overlay
        .sponsored
        .date
          %span.dayofweek
          %span.month
        .setting
          %span.place
          %span.title
          %span.id
          %p.description
.articles
  .header
    .search-fields
      .category.search
        .selected-link
          %span.header-text I want to see:
          %span.currently-selected Event
          .arrow-up
        .menu
          .caret
            %i.fa.fa-caret-up
          %li.selected Events
          %li Pictures
          %li Blogs
          %li Vlogs
      .date.search
        .selected-link
          %span.header-text I want to go:
          %span.currently-selected This Week
          .arrow-up
        .menu
          .caret
            %i.fa.fa-caret-up
          %li{:value => "Today"} Today
          %li{:value => "Tomorrow"} Tomorrow
          %li.selected{:value => "This Week"} This Week
          %li{:value => "This Month"} This Month
          %li{:value => "Next Three Months"} Next Three Months
      .type.search
        .selected-link
          %span.header-text For only these type:
          %span.currently-selected All Types
          .arrow-up
        .menu
          .caret
            %i.fa.fa-caret-up
          %li.selected{:value => "All"} All Types
          %li{:value => "Afterparty"} Afterparty
          %li{:value => "Bar/Lounge"} Bar/Lounge
          %li{:value => "Boat Party"} Boat Party
          %li{:value => "Brunch"} Brunch
          %li{:value => "Charity Event"} Charity Event
          %li{:value => "Concert"} Concert
          %li{:value => "Fashion Show"} Fashion Show
          %li{:value => "Meetup"} Meetup
          %li{:value => "Museum"} Museum
      .search-box
        / {style: "float:right; margin-right:74px;"}
        %form.form-inline
          .input-prepend
            %span.add-on
              %i.fa.fa-search
            %input.header-input{type: "text", placeholder: "Search for event", id: "prependedInput"}
          %a.btn.search-btn SEARCH
  / .div
  /   %i.fa.fa-long-arrow-left.slides-previous{ style: "color: red; font-size: 5em"}
  /   %i.fa.fa-long-arrow-right.slides-next{ style: "color: red; font-size: 5em"}
  .section-header
    / .section-name{:name => "events"} Events
    / .section-name{:name => "blogs"} Blogs
    / .section-name{:name => "pictures"} Pictures
    / .section-name{:name => "videos"} Videos
  .section.events.main.top-section{:name => "events"}
    .section-name.event
      .title-place
        .section-title
          %img.section-title-image{:src => asset_path("title-bg.png")}
          .title-event EVENTS   
    .load-more LOAD MORE
  .section.blogs.main{:name => "blogs"}
    .section-name.blog
      .title-place
        .section-title
          %img.section-title-image{:src => asset_path("title-bg.png")}
          .title-event BLOGS
    .load-more LOAD MORE
  .section.pictures.main{:name => "pictures"}
    .section-name.event
      .title-place
        .section-title
          %img.section-title-image{:src => asset_path("title-bg.png")}
          .title-event PICTURES 
    .load-more LOAD MORE
  .section.videos.main{:name => "videos"}
    .section-name.event
      .title-place
        .section-title
          %img.section-title-image{:src => asset_path("title-bg.png")}
          .title-event VIDEOS 
    .load-more LOAD MORE
  .section.giveaways.main{:name => "videos"}
    .section-name.event
      .title-place
        .section-title{style: "margin-left: 115px"}
          %img.section-title-image{:src => asset_path("title-bg.png")}
          .title-event GIVEAWAYS
    .giveaways-box
      %img.giveaways-image{:src => asset_path("kung_fu_saloon.jpg")}
      .giveaways-content
        .giveaway-logo
          %img{:src => asset_path("logo.png")}
        .giveaway-text
          Learn how you can cast a ballot and enter to win free tickets and swag
        .giveaway-enter
          .button ENTER NOW

.bookmarks
  .bookmarked-articles
    .section.events{:name => "events"}
      .section-name.event Scroll to see more Events
      .load-more Load More Events
    .section.blogs{:name => "blogs"}
      .section-name.blog Scroll to see more Blogs
      .load-more Load More Blogs
    .section.pictures{:name => "pictures"}
      .section-name.picture Scroll to see more Pictures
      .load-more Load More Picture
    .section.videos#ev{:name => "videos"}
      .section-name.video Scroll to see more Videos
      .load-more Load More Videos
  .main-description
    .close
      %i.fa.fa-times
    .share
      / %a.fb-share{href: "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}"}
      %a.fb-share-btn
        %i.fa.fa-facebook   
      %a.fb-share{:href => "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}&picture=#{request.original_url}/assets/event1.png&title=title+here&description=Your+description", :onclick => "window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;", :target => "_blank", style: "display: none"}   
      %a.twitter-share-btn
        %i.fa.fa-twitter
      %a.twitter-share{:href => "https://twitter.com/intent/tweet?text=dssdsd", :onclick => "window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=300'); return false;", :target => "_blank", style: "display: none"}
      %a{:href => "https://www.instagram.com/theaustinsocialite", :target => "_blank"}
        %i.fa.fa-instagram
      / %a.twitter-share{:href => "https://twitter.com/share?text='dssdsd'", popup: "width=685,height=500", :target => "_blank", style: "display: none"} 
      / .twitter-share{"data-description" => "sdsdadad", "data-type" => "twitter", "data-url" => "lvh.me:3000?type=events12", style: "display: none"}

      / "https://twitter.com/share?url={{url}}&text={{description}}",popup:{width:685,height:500}}

    .desc
      %span.article-type
      %span.article-title
      .details More Info
      %span.article-description
      .thumbnails
        %li
          %img{:src => asset_path("event1.png")}/

